@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating .filled {
  color: #ffd700;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded-lg {
  border-radius: 0.5rem; /* Adjust as needed */
}

.flex-none {
  flex: none; /* This prevents the image from growing or shrinking */
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .flex-row {
    flex-direction: column;
    display: flex;
  }
}


.mainText{
  color: #00401E;}

.navText:hover
{
  color: #00401E;

}
.buttonContact{
  background: #00401E;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}


/* STYLE FOR FAQ */
.faq-container {
  max-width: 800px; /* Adjust as per design */

}

.faq-title {
  text-align: center;
  color: #333;
}

.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.faq-question {
  cursor: pointer;
  transition: color 0.3s ease;
}

.faq-question:hover {
  color: #00401E; /* Adjust hover color as needed */
}

.faq-answer {
  color: #666;
  line-height: 1.6;
  padding-left: 1em;
  transition: all 0.3s ease;
}

/* Optional: Add a plus/minus icon to indicate expandability */
.faq-question::before {
  content: '+ ';
  font-weight: bold;
  color: #00401E; /* Adjust icon color as needed */
}

.faq-item.open .faq-question::before {
  content: '- ';
}


/* STYLE FOR FAQ END */

/* STYLE FOR BENIFITS */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.whiteBox {
  border-radius: 20px;
  background: var(--Greyscale---Grey-50, #F9FAFB);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  height: 200px;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.whiteBox:hover {
  background: rgba(0, 64, 30, 0.4);
}

.icon {
  width: 4rem; /* 64px */
  height: 4rem; /* 64px */
  margin-bottom: 1rem;
}

.iconText {
  font-size: 1rem; /* 16px */
  color: #00401E;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .icon {
    width: 3rem; /* 48px */
    height: 3rem; /* 48px */
  }
}


/* STYLE FOR BENIFITS END */

/* STYLE FOR ABOUT US */
.about-us-section {
  background: #f9f9f9;
  padding: 40px 0;
}

.section-title {
  color: #333;
  margin-bottom: 20px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.team-member {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  
}

.member-name {
  color: #333;
  margin-bottom: 4px;
}

.member-title {
  color: #666;
  margin-bottom: 10px;
}

.member-info {
  font-size: 15px;
  color: #555;
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}


